@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-2rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}

@keyframes fadeout {
  0% {
    opacity: 100%
  }

  100% {
    opacity: 0;
  }
}

@keyframes walk-right {
  0% {
    left: -200%
  }

  100% {
    left: 200%;
  }
}

@keyframes bounce {
  0% {
    transform: scale(1.0);
  }
  75% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1.0);
  }
}

@keyframes pulse {
  0% {
    border-color: #BE9087;
  }
  50% {
    border-color: #d9715d;
  }
  100% {
    border-color: #BE9087;
  }
}

@keyframes progress {
  0% {
    right: -100%;
  }
  100% {
    right: 200%;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }

}